/* ------------公用样式 ----------- */
body {
  font-family: Microsoft YaHei, sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

/* -----定义第三方字体------ */
@font-face {
  font-family: "wjs_font";
  src: url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff')
}

.wjs_icon {
  font-family: wjs_font;
}

.wjs_icon_phone::before {
  content: "\e908";
}

.wjs_icon_tel::before {
  content: "\e909";
}

.wjs_icon_logo::before {
  content: "\e920";
}

.wjs_icon_word::before {
  content: "\e93e";
}
.wjs_icon_info::before {
  content: "\e903";
}
.wjs_icon_clock::before{
  content: "\e906";
}
.wjs_icon_video::before{
  content: "\e905";
}
.wjs_icon_news_01::before{
  content: "\e90e";
}
.wjs_icon_news_02::before{
  content: "\e90f";
}
.wjs_icon_news_03::before{
  content: "\e910";
}
.wjs_icon_news_04::before{
  content: "\e911";
}
.wjs_icon_partner01::before{
  content:"\e946";
}
.wjs_icon_partner02::before{
  content: "\e92f";
}
.wjs_icon_partner03::before{
  content: "\e92e";
}
.wjs_icon_partner04::before{
  content: "\e92a";
}
.wjs_icon_partner05::before{
  content: "\e929";
}
.wjs_icon_partner06::before{
  content: "\e931";
}
.wjs_icon_partner07::before{
  content: "\e92c";
}
.wjs_icon_partner08::before{
  content: "\e92b";
}
.wjs_icon_partner09::before{
  content: "\e92d";
}

/* --------------模块样式-------------------- */
/* 顶部通栏 */
.wjs_topBar {
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.wjs_topBar>.container>.row>div {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.wjs_topBar>.container>.row>div+div {
  border-left: 1px solid #ccc;
}

.wjs_topBar .wjs_app {
  color: #666;
  display: block;
  position: relative;
  z-index: 1000;
}

.wjs_app>img {
  display: none;
}

.wjs_app:hover>img {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 40px;
  border: 1px solid #ccc;
  border-top: none;
}

.wjs_topBar>.container>.row>div:nth-child(3)>a {
  margin-left: 10px;
}

.wjs_topBar .btn-register {
  padding: 3px 12px;
  background: #e92322;
  border: none;
}

.wjs_topBar .btn-register:hover {
  border: none;
}

.wjs_topBar .btn-login {
  color: #666;
}

.wjs_topBar .btn-login:hover {
  text-decoration: none;
}

/* 导航栏 */
.wjs_nav {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

.wjs_nav .wjs_icon_logo {
  font-size: 50px;
  color: #e92322;
  vertical-align: middle;
}

.wjs_nav .wjs_icon_word {
  font-size: 36px;
  color: #333;
  vertical-align: middle;
}

.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
  color: #777;
}

.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.wjs_nav .navbar-text {
  color: #777;
}

.wjs_nav .navbar-nav>li>a {
  color: #777;
  line-height: 50px;
}

.wjs_nav .navbar-nav>li>a:hover,
.wjs_nav .navbar-nav>li>a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav>.active>a,
.wjs_nav .navbar-nav>.active>a:hover,
.wjs_nav .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #fff;
  border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav>.disabled>a,
.wjs_nav .navbar-nav>.disabled>a:hover,
.wjs_nav .navbar-nav>.disabled>a:focus {
  color: #ccc;
  background-color: transparent;
}

.wjs_nav .navbar-toggle {
  margin-top: 23px;
  margin-right: 23px;
  border-color: #ddd;
}

.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
  background-color: #ddd;
}

.wjs_nav .navbar-toggle .icon-bar {
  background-color: #888;
}

.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
  border-color: #e7e7e7;
}

.wjs_nav .navbar-nav>.open>a,
.wjs_nav .navbar-nav>.open>a:hover,
.wjs_nav .navbar-nav>.open>a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .wjs_nav .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  .wjs_nav .navbar-nav .open .dropdown-menu>li>a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #333;
    background-color: transparent;
  }

  .wjs_nav .navbar-nav .open .dropdown-menu>.active>a,
  .wjs_nav .navbar-nav .open .dropdown-menu>.active>a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
  }

  .wjs_nav .navbar-nav .open .dropdown-menu>.disabled>a,
  .wjs_nav .navbar-nav .open .dropdown-menu>.disabled>a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.wjs_nav .navbar-link {
  color: #777;
}

.wjs_nav .navbar-link:hover {
  color: #333;
}

.wjs_nav .btn-link {
  color: #777;
}

.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
  color: #333;
}

.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
  color: #ccc;
}

/* 轮播图 */
.wjs_banner .m_img {
  display: block;
  width: 100%;
}
.wjs_banner .m_img img {
  display: block;
  width: 100%;
}
.wjs_banner .pc_img {
  display: block;
  height: 410px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 信息模块样式 */
.wjs_info {
  padding: 30px 0;
  border-bottom:1px solid #ccc;
}
.wjs_info .container{
  width: 910px;
}
@media(max-width:992px) and (min-width:768px){
  .wjs_info .container{
    width: 750px;
  }
}
.wjs_info .wjs_info_box {
  padding:15px;
  display: block;
}
.wjs_info .wjs_info_box:hover{
  color: #e92322;
}
.wjs_info .wjs_icon_info {
  font-size: 28px;
}
/* 立即预约模块 */

.wjs_book {
  padding:20px 0 ;
  border-bottom:1px solid #ccc;
}
.wjs_book .wjs_icon_clock {
  font-size: 20px;
}
.wjs_book .wjs_icon_video {
  font-size: 24px;
}
.wjs_book .wjs_book_link {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_book .wjs_book_video:hover {
  color:#e92322;
}
.wjs_book .container {
  width: 910px;
}
 @media (max-width:992px) and (min-width:768px){
  .wjs_book .container {
    width: 750px;
  }
 }
 @media (max-width:768px){
  .wjs_book .container {
    width: 100%;
  }
 }
 /* 产品模块样式 */
 .wjs_product {
   padding:15px 0;
   border-bottom: 1px solid #ccc;
   background: #f5f5f5;
 }
 .wjs_product .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
  float: left;
  margin-left: 20px;
}
.wjs_product .nav-tabs > li > a {
  line-height: 1.42857143;
}
.wjs_product .nav-tabs > li > a:hover {
  background-color: #f5f5f5;
  border:none;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
  border:none;
  background-color: #f5f5f5;
  border-bottom:2px solid #e92322;
}
.wjs_product .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_product .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_product .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
    border:none;
  }
}
@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_product .nav-tabs.nav-justified > .active > a,
  .wjs_product .nav-tabs.nav-justified > .active > a:hover,
  .wjs_product .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.wjs_product .wjs_product_box {
  width:100%;
  overflow: hidden;
}
.wjs_product .product_box {
  margin-top: 20px;
  display: block;
  height: 150px;
  box-shadow:2px 2px 1px #d8d8d8;
  background-color: #fff;
}
.wjs_product .product_box.active {
  background-color: #e92322;
  color:#fff;
}

.wjs_product .product_box_left {
  position: relative;
  overflow: hidden;
}
.wjs_product .product_box_left:before{
  font-family: wjs_font;
  content: "\e915";
  position: absolute;
  left:0;
  top: -7px;
  font-size: 33px;

}
.wjs_product .product_box_left h3{
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}
.wjs_product .product_box_left p {
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  font-size: 12px;
}
.wjs_product .product_box_right {
  position: relative;
  float:right;
  height: 150px;
  width: 100px;
  border-left:1px dashed #ccc;
  text-align:center;
}
.wjs_product .product_box .product_box_right p:first-of-type {
  margin-top: 20px;
  color: #e92322;
}
.wjs_product .product_box.active .product_box_right p:first-of-type {
  margin-top: 22px;
  color: #fff;
}
.wjs_product .product_box .product_box_right p:nth-of-type(1) b {
  font-size: 50px;
}
.wjs_product .product_box .product_box_right p:nth-of-type(1) sub {
  bottom:0;
}
.wjs_product .product_box_right .tools_tip {
  position: absolute;
  left:0;
  top:10px;
  width: 100%;
  text-align: center;
}
.wjs_product .product_box_right .tools_tip span {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 12px;
  border:1px solid transparent;
  text-align: center;
}
.wjs_product .product_box_right .tools_tip span:nth-child(1) {
  border-color:red;
  color:red;
}
.wjs_product .product_box_right .tools_tip span:nth-child(2){
  border-color:green;
  color:green;
}
.wjs_product .product_box_right::before,
.wjs_product .product_box_right::after{
  position: absolute;
  left:-6px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f5f5f5;
}
.wjs_product .product_box_right::before {
  top:-6px;
  box-shadow: 0 -2px 2px #d8d8d8 inset;
}
.wjs_product .product_box_right::after {
  bottom:-6px;
  box-shadow: 0 2px 2px #d8d8d8 inset;
}

/* 新闻模块样式 */
.wjs_news {
  padding: 15px  0;
  border-bottom: 1px solid #ccc;
}
.wjs_news .wjs_news_tit {
  position :relative;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.wjs_news .wjs_news_tit:after {
  content:"";
  position: absolute;
  right:-6px;
  bottom:-3px;
  width:6px;
  height: 6px;
  border:1px solid #ccc;
  border-radius: 50%;
}
.wjs_news_line {
  position:absolute;
  left:45px;
  top:0;
  height:100%;
  border-left:1px dashed #ccc;
}
/* 新闻tab标签页样式 */
.wjs_news_tabs {
  border-bottom: none;
}
.wjs_news_tabs > li {
  float: left;
  margin-bottom: -1px;
}
@media (max-width:768px){
  .wjs_news_tabs > li {
    width: 25%;
  }
  .wjs_news_tabs > li a{
    margin: 20px auto;
  }
}
.wjs_news_tabs > li > a {
  margin-right: 0;
  margin-bottom: 60px;
  padding:0;
  width: 60px;
  height: 60px;
  font-size: 30px; 
  line-height: 60px;
  text-align: center;
  border-radius:30px;
  background-color:#ccc;
  color:#fff;
}
@media (max-width:992px) and (min-width:768px) {
  .wjs_news_tabs > li > a {
    margin:20px 40px;
  }
}
.wjs_news_tabs > li:last-child > a {
  margin-bottom: 0;
}
.wjs_news_tabs > li > a:hover {
  background-color: #e92322;
}
.wjs_news_tabs > li.active > a,
.wjs_news_tabs > li.active > a:hover,
.wjs_news_tabs > li.active > a:focus {
  color:#fff;
  cursor: default;
  background-color: #e92322;
  border:none;
}
.wjs_news_tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_news_tabs.nav-justified > li {
  float: none;
}
.wjs_news_tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_news_tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_news_tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_news_tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_news_tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_news_tabs.nav-justified > .active > a,
.wjs_news_tabs.nav-justified > .active > a:hover,
.wjs_news_tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_news_tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_news_tabs.nav-justified > .active > a,
  .wjs_news_tabs.nav-justified > .active > a:hover,
  .wjs_news_tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.wjs_news .wjs_news_content{
  list-style: none;
}
.wjs_news .wjs_news_content li {
  padding:15px 0;
}

/*合作伙伴  */
.wjs_partner{
  text-align: center;
}
.wjs_partner ul{
  list-style:none;
  margin:0;
}
.wjs_partner ul li{
  padding:10px;
  float: left;
}
.wjs_partner ul li a {
  font-size: 80px;
}
@media (max-width:992px)and (min-width:768px){
  .wjs_partner ul li{
    width:10%;
  }
  .wjs_partner ul li a {
    font-size: 55px;
  }
}
@media (max-width:768px){
  .wjs_partner ul li{
    padding-right:11px;
    width:10%;
  }
  .wjs_partner ul li a {
    font-size: 40px;
  }
}
.wjs_partner ul li a:hover{
  color:#e92322;
}

